extends layouts/main_layout.pug
  
block content
  title Home
  include ./layouts/components/banner.pug
  include ./layouts/components/categories-card.pug
  include ./layouts/components/product-card.pug
