extends ../layouts/auth_layout.pug

block content
        .card.authcard.col-md-6.login-image.d-flex.align-items-center.justify-content-center
          img.img-fluid.d-flex.align-items-center(src='/static/img/forget-password.svg' alt='...')
        .col-md-6.p-4
          .p-5.d-flex.justify-content-center
            .logo-details.d-flex.align-items-center
              img.img-fluid.d-flex.align-items-center(src='/static/img/logo.png' alt='...')
          .card-body
            h4.mb-4 Forgot Your Password?
            p.text-align-center.smallfont We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!
            form.user(method="POST", action='/user_login')
              .form-group.form-floating.mb-3
                input#InputEmail.form-control.form-control-user(type='email' aria-describedby='emailHelp' placeholder='Enter Email Address...' name='email')
                label(for="InputEmail") Email Address
              .d-flex.justify-content-end 
                button.btn.btn-user.btn-block.ml-auto.px-4.text-light(type='submit')
                  | SEND LINK
              hr
            .text-center
              a.smallfont(href='/login') Back to the 
                span.fw-bold SignIn!
            
