section.slide1
  .wrap-slick1
    .slick1
      .item-slick1.item1-slick1(style="background-image: url(static/images/master-slide-02.jpg);")
         
      .item-slick1.item2-slick1(style="background-image: url(static/images/master-slide-03.jpg);")
         
      .item-slick1.item3-slick1(style="background-image: url(static/images/master-slide-04.jpg);")
